<!-- monthly_sales.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Policy Sales</title>
    <link rel="stylesheet" href="/static/view.css">
</head>
<body>
    <div class="container">
        <h1 class="header">Monthly Policy Sales</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Month</th>
                    <th>Policy Count</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales_data %}
                <tr>
                    <td>{{ sale['Month'] }}</td>
                    <td>{{ sale['Policy_Count'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="back-button">
            <a href="/" class="button">Back to Home</a>
        </div>
    </div>
</body>
</html>
